* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2d42;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentBoxContainer {
  margin: 50px auto;
}

.commentBox {
  width: 350px;
  height: 100px;
}

.btnContainer {
  margin: 0 auto;
}

.postBtn {
  background-color: #8d99ae;
  margin-right: 15px;
}

.postBtn:hover,
.clearBtn:hover {
  font-weight: 500;
  color: #000;
}

.postBtn:active {
  background-color: #fca311;
  color: #14213d;
}

.clearBtn {
  color: #000;
}

.clearBtn:focus {
  color: #000;
}

.showCommentContainer {
  margin: 40px auto;
}

.commentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #9a8c98;
  border-radius: 10px;
  cursor: pointer;
}

.commentList {
  margin-right: 25px;
  list-style-type: none;
}

.trashIcon {
  color: #d90429;
  font-size: 20px;
}

.trashIcon:active {
  font-weight: 700;
}
